[Desktop Entry]
Name=Sweet-HTB-Blur
X-KDE-PluginInfo-Name=Sweet-HTB-Blur
X-KDE-PluginInfo-Author=@therootuser_
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
