[SddmGreeterTheme]
Name=Sweet-HTB
Description=HTB theme for KDE Plasma
Author=@therootuser_
Copyright=(c) 2023, Signore
License=GPL 3+
Type=sddm-theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=Sweet-HTB
Theme-API=2.0
