[SddmGreeterTheme]
Name=Sweet-HTB
Description=HTB theme for KDE Plasma
Author=@therootuser_
License=GPL-3.0-or-later
Type=sddm-theme
Version=0.1
Website=
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=sweet-htb
