[Desktop Entry]
Name=Sweet-HTB-Poly
X-KDE-PluginInfo-Name=Sweet-HTB-Poly
X-KDE-PluginInfo-Author=Signore
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
