[Desktop Entry]
Comment=A modern theme for Hackers
Name=Sweet-HTB
X-KDE-PluginInfo-Author=@therootuser_
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Sweet-HTB
X-KDE-PluginInfo-Version=1.0.5
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=true
