[Desktop Entry]
Name=Sweet-HTB
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Type=Service
X-KDE-PluginInfo-Author=@therootuser_
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Sweet-HTB
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel

X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1427565,kns://plasma-themes.knsrc/api.kde-look.org/1427568,kns://aurorae.knsrc/api.kde-look.org/1427566,kns://sddmtheme.knsrc/api.kde-look.org/1430814
